@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/DataTablesLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Employee Table</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            @* <h3 class="card-title">DataTable with default features</h3> *@
                            @*  <button type="button" class="btn btn-success">Primary</button> *@

                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-tooltip="tooltip" data-placement="right" title="Add New Departement" onclick="ClearScreenAdd();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Employee</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group" id="formNIK">
                                                    <label for="IdInput">NIK Employee:</label>
                                                    <input type="text" class="form-control" id="NIK" disabled>
                                                </div>
                                                <div class="form-group" id="formEmail">
                                                    <label for="emailInput">Email:</label>
                                                    <input type="text" class="form-control" id="Email" disabled>
                                                </div>
                                                <div class="form-group">
                                                    <label for="firstNameInput">First Name:</label>
                                                    <input type="text" class="form-control" id="firstName">
                                                    <span id="msgFirstName" style="color: red; font-size: 14px;"></span>
                                                </div>
                                                <div class="form-group" >
                                                    <label for="lastNameInput">Last Name:</label>
                                                    <input type="text" class="form-control" id="lastName"> 
                                                    <span id="msgLastName" style="color: red; font-size: 14px;">
                                                    </span>
                                                </div>
                                                <div class="form-group" >
                                                    <label for="phNumInput">Phone Number:</label>
                                                    <input type="text" class="form-control" id="phoneNum">
                                                   @*  <span id="msgPhoneNum" style="color: red; font-size: 14px;"></span> *@
                                                </div>
                                                <div class="form-group" >
                                                    <label for="addressInput">Address:</label>
                                                    <input type="text" class="form-control" id="Address">
                                                    @* <span id="msgAddress" style="color: red; font-size: 14px;"></span> *@
                                                    @* <div class="valid-feedback">Valid.</div> *@
                                                    @* <div class="invalid-feedback">Please fill out this field.</div> *@
                                                </div>
                                                <div class="form-group" id="formDep">
                                                    <label for="depIdInput">Departement ID:</label>
                                                    <select name="departementId" class="form-control" id="departementId">
                                                        <option value="" selected disabled >---Choose Department---</option>
                                                    </select>
                                                   @*  <span id="msgDepartementId" style="color: red; font-size: 14px;"></span> *@
                                                </div>
                                                <div class="form-group" id="formStatus" >
                                                    <label for="statusInput">Status:</label>
                                                    @* <input type="text" class="form-control" id="Status"> *@
                                                    <select name="Status" id="Status" class="form-control">
                                                        <option value="" disabled>---Choose---</option>
                                                        <option value=0 selected>Active</option>
                                                        <option value=1>Inactive</option>
                                                    </select>
                                             </div>
                                            </form>
                                            <div class="modal-footer">
                                                <button type="button" id="Save" onclick="SaveEmp();" class="btn btn-success"> <i class="fas fa-save"></i></button>
                                                <button type="button" id="Update" onclick="UpdateEmp();" class="btn btn-warning"> <i class="fas fa-edit"></i></button>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbEmployee" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        @* <th>Departement ID</th> *@
                                        <th>NIK</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Address</th>
                                        <th>Departement Name</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section Scripts{
    <!-- jQuery -->
    <script src="~/adminlte-3.2.0/docs/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->

    <script src="~/adminlte-3.2.0/plugins/datatables/jquery.dataTables.min.js"></script><script src="~/adminlte-3.2.0/plugins/datatables-bs4/js/datatables.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte-3.2.0/docs/assets/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/adminlte-3.2.0/docs/assets/js/demo.js"></script>

    <!-- Sweet Alert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/employeescript.js"></script>
    <!-- Page specific script -->

}
